pip==22.0.4
numpy
pandas
cython
convertdate
lunarcalendar
holidays==0.23
tqdm
pystan==2.19.1.1
fbprophet==0.7.1
kats
Packaging==21.3
sqlalchemy==1.4.46
plotly
jupyter
yfinance
pandasql
ipykernel
streamlit
matplotlib
pandas-datareader
watchdog